<!DOCTYPE html>
<html>
<head>
    <title>Student Academic & Placement Tracker</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <h1>🎓 Student Academic & Placement Tracker</h1>

    <p>Manage your academics, skills and placement preparation in one place.</p>

    <hr>

    <h2>Welcome, Student! 👋</h2>

    <p>Choose what you want to manage:</p>

    
    <a href="/academics">
    <button>📊 Academics</button>
</a>

<button>🗓️ Attendance</button>
<button>💻 Skills</button>
<button>🏆 Certifications</button>
<button>🚀 Projects</button>
<button>💼 Placements</button>

</body>
</html>